/* BASE */

:root {
  --bg-color: #F0F4F8;
  --primary: #334D68;
  --secondary: #87EAF2;
  --text-primary: #242424;
}

html {
  background-color: var(--bg-color);
  color: #242424;
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  line-height: 1.6;
  min-height: 100vh;
  min-width: 300px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h1 {
  font-size: 3.4rem;
  margin: 1.7rem 0;
}

h2 {
  font-size: 3rem;
  margin: 1.7rem 0;
}

h3 {
  font-size: 2.4rem;
  margin: 1.7rem 0;
}

h4 {
  font-size: 2rem;
  margin: 1.7rem 0;
}

h5 {
  font-size: 1.8rem;
  margin: 1.2rem 0;
}

p {
  margin-bottom: 1.2rem;
}

/* LAYOUT */

.layoutOne, .layoutTwo {
  margin: 0 auto;
}

.layoutOne {
  width: 110rem;
}

.layoutTwo {
  width: 70rem;
}

/* UTILITIES */

.buttonLight, .searchJobButton, .buttonDark {
  border: none;
  border-radius: 2px;
  color: var(--text-primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: none;
}

.buttonLight {
  background-color: var(--secondary);
}

.searchJobButton {
  background-color: #38BEC9;
}

.buttonDark {
  background-color: var(--text-primary);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.6rem;
}

.marginLarge {
  margin: 7rem 0;
}

.marginButtomLarge {
  margin-bottom: 7rem;
}

.marginBottom {
  margin-bottom: 2rem;
}

.paddingLarge {
  padding: 7rem 0;
}

.paddingMedium {
  padding: 4rem 0;
}

.paddingBottomLarge {
  padding-bottom: 7rem;
}

.list {
  list-style-type: disc;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.list li {
  margin-bottom: 0.4rem;
}

/* HEADER */

/* Header Bar */

.headerOne, .headerTwo {
  background-color: var(--text-primary);
  color: #fff;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
  width: 100%;
}

.headerOne {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-bg.jpg');
  height: 80vh;
}

.headerTwo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/header-bg.jpg');
  height: 50vh;
}

.headerThree {
  background-color: var(--text-primary);
  color: #fff;
  height: 10rem;
  padding: 2rem 0;
  width: 100%;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 0 8%;
  top: 0;
  height: 10rem;
  width: 100%;
}

.headerBarScroll {
  background-color: var(--text-primary);
}

/* Navigation Items */

.navigationItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationItems li:not(:last-child) {
  margin-right: 3rem;
}

.dropdown {
  position: relative;
}

.dropdownContent {
  background-color: #fff;
  display: none;
  font-size: 1.4rem;
  position: absolute;
  left: -3rem;
  padding-top: 1.5rem;
  background-clip: content-box;
  border-radius: 5px;
  width: 15rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdownContent a {
  color: var(--text-primary);
  padding: 0.8rem 2rem;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  font-size: 1.5rem;
  font-weight: bold;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.searchIcon {
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  margin-right: 3rem;
}

/* FOOTER */

.footer {
  background-color: var(--text-primary);
  color: #fff;
  max-height: 25rem;
  padding-top: 5rem;
}

.footerWidgets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.jobsNum {
  font-size: 4rem;
  font-weight: bold;
  display: block;
  line-height: 1;
  text-transform: uppercase;
}

.rightWidgetText {
  margin-bottom: 1.5rem;
}

.copyright {
  background-color: #4D5154;
  height: 5rem;
  padding: 1rem 0;
  vertical-align: middle;
}

.copyrightContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  font-size: 2rem;
}

.social a:not(:last-child) {
  margin-right: 0.5rem;
}

/* HOME PAGE */

/* Hero-like Header */

.headerContent, .headerForm {
  margin: 0 auto;
  text-align: center;
}

.headerContent {
  width: 70rem;
  padding: 4rem 0;
  margin-top: 6rem;
}

.headerTitle {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

.headerForm {
  background-color: #fff;
  border-radius: 5px;
  color: var(--text-primary);
  width: 60rem;
  height: auto;
  padding: 2rem;
}

.formGroupRadio, .formGroupText {
  display: flex;
  align-items: center;
}

.formGroupRadio {
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.formGroupRadio div:not(:last-child) {
  margin-right: 3rem;
}

.formGroupText {
  justify-content: space-between;
}

.formGroupText input[type="text"] {
  font-family: inherit;
  border: 0.5px solid #D9E2EC;
  border-radius: 5px;
  background-color: #D9E2EC;
  padding: 1rem;
  outline: none;
  width: 22rem;
}

/* Clent section */

.clientsTitle {
  color: #808185;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.clientsLogos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
}

.clientLogo {
  width: 10rem;
}

/* Jobs list section */

.jobListHeading {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.jobListItem {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
}

.jobListLogo {
  width: 8rem;
  height: auto;
  border-radius: px;
  margin-right: 3rem;
}

.companyLogo {
  width: 100%;
}

.jobListText {
  flex: 2;
}

.jobListText p {
  margin: 0;
}

.jobListCompany {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.jobListTitle {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.jobListTime {
  float: right;
}

.loadMore {
  text-align: center;
  margin-top: 3rem;
}

/* JOBS PAGE */

.jobPage {
  display: flex;
  justify-content: space-between;
}

.leftContent {
  width: 80rem;
  padding-right: 5rem;
}

.rightContent {
  width: 30rem;
}

.homeLink i {
  padding-right: 1rem;
  margin-bottom: 3rem;
}

.homeLink span {
  font-weight: bold;
}

.postedDate {
  text-transform: uppercase;
}

.jobCategory span {
  background-color: var(--primary);
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  width: max-content;
  padding: 0.2rem 1.5rem;
  margin-bottom: 2rem;
}

.jobCategory span:not(:last-child) {
  margin-right: 0.7rem;
}

.rightContentBox {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  ;
  padding: 3rem;
  text-align: center;
  width: 100%;
  height: 40rem;
}

.rightContentBox img {
  border-radius: 201189px;
  width: 12rem;
  height: auto;
}

.rightContentBoxText {
  margin-bottom: 3rem;
}

/* LOGIN */

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loginLeft, .loginRight {
  width: 100%;
  height: 100vh;
}

.loginLeft {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/login-bg.jpg');
  background-position: center;
  background-size: cover;
}

.loginRight {
  background-color: #fff;
  position: relative;
}

.loginForm {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}

.loginFormGroup {
  display: block;
  margin-bottom: 2rem;
}

.loginForm input {
  width: 100%;
}

.loginFormGroup input[type=text], .loginFormGroup input[type=email], .loginFormGroup input[type=password] {
  font-family: inherit;
  border: 0.5px solid #D9E2EC;
  border-radius: 5px;
  background-color: #D9E2EC;
  padding: 1rem;
  outline: none;
}

.loginFormGroup input[type=submit] {
  margin-top: 1rem;
}

.loginFormGroup a {
  font-weight: bold;
}