:root {
  --primary: #334D68;
  --secondary: #87EAF2;
  --text-primary: #242424;
}

html {
  background-color: #F0F4F8;
  color: #242424;
  font-family: 'Work Sans', sans-serif;
  font-size: 62.5%;
  font-weight: normal;
  line-height: 1.5;
  min-height: 100vh;
  min-width: 300px;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
}

a {
  color: currentColor;
  cursor: pointer;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.8rem;
}

/* General Styles */

.layout, .jobListLayout {
  margin: 0 auto;
}

.layout {
  width: 110rem;
}

.jobListLayout {
  width: 70rem;
}

.buttonLight, .searchJobButton, .buttonDark {
  border: none;
  border-radius: 2px;
  color: var(--text-primary);
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: none;
}

.buttonLight {
  background-color: var(--secondary);
}

.searchJobButton {
  background-color: #38BEC9;
}

.buttonDark {
  background-color: var(--text-primary);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 1.6rem;
}

.marginLarge {
  margin: 7rem 0;
}

.marginButtomLarge {
  margin-bottom: 7rem;
}

.marginBottom {
  margin-bottom: 2rem;
}

.paddingLarge {
  padding: 7rem 0;
}

.paddingMedium {
  padding: 4rem 0;
}

.paddingBottomLarge {
  padding-bottom: 7rem;
}

/* HEADER SECTION STYLES */

.header {
  background-color: var(--primary);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero-bg.jpg');
  background-position: center;
  background-size: cover;
  color: #fff;
  height: 80vh;
  width: 100%;
  padding: 2rem 0;
}

.headerFlexed {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigationItems li:not(:last-child) {
  margin-right: 3rem;
}

.searchIcon {
  cursor: pointer;
  font-weight: 400;
  display: inline-block;
  margin-right: 3rem;
}

/* Hero Styles */

.heroContent, .heroForm {
  margin: 0 auto;
  text-align: center;
}

.heroContent {
  width: 70rem;
  padding: 3rem 0;
}

.heroTitle {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.heroForm {
  background-color: #fff;
  border-radius: 5px;
  color: var(--text-primary);
  width: 60rem;
  height: auto;
  padding: 2rem;
}

.formGroupRadio, .formGroupText {
  display: flex;
  align-items: center;
}

.formGroupRadio {
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.formGroupRadio div:not(:last-child) {
  margin-right: 3rem;
}

.formGroupText {
  justify-content: space-between;
}

.formGroupText input[type="text"] {
  font-family: inherit;
  border: 0.5px solid #D9E2EC;
  border-radius: 5px;
  background-color: #D9E2EC;
  padding: 1rem;
  outline: none;
  width: 22rem;
}

/* CLIENTS SECTION STYLES */

.clientsTitle {
  color: #808185;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.clientsLogos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
}

.clientLogo {
  width: 10rem;
}

/* JOBS LISTS SECTION STYLES */

.jobListHeading {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.jobListItem {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem 3rem;
}

.jobListLogo {
  width: 8rem;
  height: auto;
  border-radius: px;
  margin-right: 3rem;
}

.companyLogo {
  width: 100%;
}

.jobListText {
  flex: 2;
}

.jobListCompany {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.jobListTitle {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.jobListTime {
  float: right;
}

.loadMore {
  text-align: center;
  margin-top: 3rem;
}

/* FOOTER SECTION STYLES */

.footer {
  background-color: var(--text-primary);
  color: #fff;
  padding-top: 5rem;
}

.footerWidgets {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5rem;
}

.jobsNum {
  font-size: 4rem;
  font-weight: bold;
  display: block;
  line-height: 1;
  text-transform: uppercase;
}

.rightWidgetText {
  margin-bottom: 1.5rem;
}

.copyright {
  background-color: #4D5154;
  height: 5rem;
  padding: 1rem 0;
  vertical-align: middle;
}

.copyrightContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  font-size: 2rem;
}

.social a:not(:last-child) {
  margin-right: 0.5rem;
}